<form asp-action="Create">
<lable> Student Code: </lable>
<input type= "text" name="StudentCode">
<br>
 <lable> Full Name : </lable>
<input type= "text" name="FullName">
<br>
<lable> Address: </lable>
<input type= "text" name="Address">
<br>
<input type= "submit" value="Send">
</form>
<h2>@ViewBag.xyz</h2>